@font-face{
    font-family: 'HankenGrotesk';
    font-weight: 500;
    src: url('/assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk';
    font-weight: bold;
    src: url('/assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk';
    font-weight: bolder;
    src: url('/assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bigContainer{
    display: flex;
    width: 590px;
    height: 410px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.04);
}

.subContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultContainer{
    background: linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(250, 100%, 63%) 100%);
    border-radius: 30px;
}

#resultTitle{
    flex: 1;
    display: flex;
    align-items: end;
    font-size: 1.1em;
    color: hsl(241, 100%, 89%);
    font-family: 'HankenGrotesk';
    font-weight: bold;
}

#notationBubble{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#finalScoreBubble{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
    border-radius: 49%;
}

#finalScore{
    font-size: 3em;
    color: hsl(221, 100%, 96%);
    margin-top: 20px;
    font-family: 'HankenGrotesk';
    font-weight: bolder;
}

#totalScore{
    font-size: 14px;
    color: hsla(241, 100%, 89%, 0.5);
    text-align: center;
    display: block;
    margin-top: 15px;
    font-family: 'HankenGrotesk';
    font-weight: 500;
}

#rankContainer{
    flex: 3;
    display: flex;
    flex-direction: column;
}

#rankTitle{
    text-align: center;
    flex: 1;
    font-size: 1.5em;
    color: hsl(221, 100%, 96%);
    font-family: 'HankenGrotesk';
    font-weight: bold;
}

#rankDescription{
    text-align: center;
    display: flex;
    align-self: center;
    width: 75%;
    flex: 3;
    font-size: 14px;
    color: hsl(241, 100%, 89%);
    font-family: 'HankenGrotesk';
    font-weight: 500;
}

/* Evaluation side */

#centeredContainer{
    flex: 1;
    display: flex;
    padding: 30px 20px;
}

.subEvaluation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 7px;
    padding: 12px;
    margin-bottom: 15px;
}

.bubble{
    display: flex;
    align-items: center;
}

#summaryContainer{
    display: flex;
    align-items: normal;
}

#summaryTitle{
    flex: 4;
    font-family: 'HankenGrotesk';
    font-weight: bold;
    font-size: 1.3em;
    color: hsl(224, 30%, 27%);
}

#evaluationTable{
    flex: 20;
    display: flex;
    flex-direction: column;
}

.bubbleTitle{
    font-family: 'HankenGrotesk';
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 10px;
}

.notation{
    text-align: end;
    font-family: 'HankenGrotesk';
    font-weight: bold;
    color: rgba(42, 48, 118, 0.5);
}

.boldNotation{
    font-family: 'HankenGrotesk';
    font-weight: bolder;
}

#reactionNote{
    background-color: hsla(0, 100%, 67%, 0.06);
}

#reactionTitle{
    color: rgb(216, 134, 136);
}

#memoryNote{
    background-color: hsla(39, 100%, 56%, 0.06);

}

#memoryTitle{
    color: rgb(217, 191, 98);
}

#verbalNote{
    background-color: hsla(166, 100%, 37%, 0.06);
}

#verbalTitle{
    color: rgb(52, 166, 138);
}

#visualNote{
    background-color: hsla(234, 85%, 45%, 0.06);
}

#visualTitle{
    color: rgb(42, 48, 118);
}

#continueButton{
    display: flex;
    flex: 5;
    background-color: hsl(224, 30%, 27%);
    color: hsla(221, 100%, 96%, 0.9);
    font-size: 1.1em;
    font-family: 'HankenGrotesk';
    font-weight: bold;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}