@font-face{
    font-family: 'HankenGrotesk';
    font-weight: 500;
    src: url('/assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk';
    font-weight: bold;
    src: url('/assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk';
    font-weight: bolder;
    src: url('/assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bigContainer{
    display: flex;
    width: 545px;
    height: 380px;
    background-color: yellow;
    border-radius: 30px;
}

.subContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultContainer{
    background: linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(250, 100%, 63%) 100%);
    border-radius: 30px;
}

#resultTitle{
    flex: 1;
    display: flex;
    align-items: end;
    font-size: 1.1em;
    color: hsl(241, 100%, 89%);
    font-family: 'HankenGrotesk';
    font-weight: 500;
}

#notationBubble{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#finalScoreBubble{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
    border-radius: 49%;
}

#finalScore{
    font-size: 3em;
    color: hsl(221, 100%, 96%);
    margin-top: 20px;
    font-family: 'HankenGrotesk';
    font-weight: bolder;
}

#totalScore{
    font-size: 14px;
    color: hsla(241, 100%, 89%, 0.5);
    text-align: center;
    display: block;
    margin-top: 15px;
    font-family: 'HankenGrotesk';
    font-weight: 500;
}

#rankContainer{
    flex: 3;
    display: flex;
    flex-direction: column;
}

#rankTitle{
    text-align: center;
    flex: 1;
    font-size: 1.5em;
    color: hsl(221, 100%, 96%);
    font-family: 'HankenGrotesk';
    font-weight: bold;
}

#rankDescription{
    text-align: center;
    display: flex;
    align-self: center;
    width: 75%;
    flex: 3;
    font-size: 14px;
    color: hsl(241, 100%, 89%);
    font-family: 'HankenGrotesk';
    font-weight: 500;
}
